<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wq.website.dao.MetaMapper">
    <resultMap id="MetaMap" type="com.wq.website.modal.Vo.MetaVo">
        <id column="mid" property="mid"/>
        <result column="name" property="name"/>
        <result column="slug" property="slug"/>
        <result column="type" property="type"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
        <result column="parent" property="parent"/>
    </resultMap>
</mapper>