<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wq.website.dao.OptionMapper">


    <insert id="saveOptions" parameterType="com.wq.website.modal.Vo.OptionVo" >
        INSERT INTO t_options(name, value, description) VALUES
        <if test="list.size!=0">
            <foreach collection="list" item="option"   separator="," >
                ( #{option.name},#{option.value},#{option.description})
            </foreach>
        </if>
    </insert>

    <insert id="saveOption" parameterType="com.wq.website.modal.Vo.OptionVo">
        INSERT INTO t_options(name, value, description) VALUES(#{name},#{value},#{description})
    </insert>

    <select id="getOptions" resultMap="optionMap">
        SELECT * FROM t_options 
    </select>

    <update id="updateOptionByName" parameterType="com.wq.website.modal.Vo.OptionVo">
        UPDATE t_options SET value=#{value},description=#{description} WHERE name=#{name}
    </update>
    
    <resultMap id="optionMap" type="com.wq.website.modal.Vo.OptionVo">
        <id column="name" property="name"/>
        <result column="value" property="value"/>
        <result column="description" property="description"/>
    </resultMap>



</mapper>